page-home {
    ion-content{
        card-title{
            background-color: #00979d;
            color: white;
        }
        ion-card-header{
            background-color: #00979d;
            color: orange;
        }
    }
}
